.profile-info h3 {
  font-family: "Playfair Display", serif;
  font-weight: 600;
}

.profile-info .profile-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.profile-info .profile-image:hover {
  cursor: pointer;
}

.profile-image-wrapper {
  max-width: 200px;
  max-height: 200px;
  position: relative;
  margin: auto;
  margin-bottom: 4vh;
}

.profile-info figcaption {
  width: 50px;
  height: 50px;
  position: absolute;
  background-color: #ffcd61;
  border-radius: 50%;
  margin-left: 150px;
  margin-top: -60px;
  align-items: center;
}
.btn-pencil {
  background-color: #ffcd61;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: none;
  margin-top: 5px;
  /* display: flex !important; */
  justify-content: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.profile-info figcaption a {
  text-decoration: none;
  color: black;
}
.user-info {
  font-family: "Nunito", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #b8becd;
}
.form-check-input:checked {
  background-color: #393939;
  border-color: #393939;
}
.form-check-input:checked[type="radio"] {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23ffcd61'/%3e%3c/svg%3e");
}
.contact-header {
  font-weight: 600;
  margin-bottom: 3vh;
}
.profile-contacts label {
  color: #9f9f9f;
}
.profile-contacts input {
  border-radius: 0;
  border-bottom: 1px solid #042521;
  padding-left: 0;
}

/* RADIO BUTTON */
.radio {
  width: 350px;
  display: flex;
  justify-content: space-around;
}

.gender {
  display: inline;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.gender input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.gender:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the gender button is checked, add a blue background */
.gender input:checked ~ .checkmark {
  background-color: rgba(255, 205, 97, 1);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.gender input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.gender .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
}
.input-profile {
  width: 100%;
  height: 50px;
  border: none;
  margin-bottom: 20px;
}

.btn-save-profile {
  height: 70px;
  width: 300px;
  border: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  background-color: #ffcd61;
  font-family: Nunito;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 33px;
  color: #393939;
}

.btn-save-profile:hover,
.btn-edit-password:hover,
.btn-cansel-profile {
  color: #fff;
}

.btn-edit-password {
  display: flex;
  height: 70px;
  width: 300px;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  background-color: #393939;
  color: #ffcd61;
  font-family: Nunito;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 33px;
  text-decoration: none;
}

.btn-cansel-profile {
  height: 70px;
  width: 300px;
  background: rgba(203, 203, 212, 0.27);
  border-radius: 10px;
  font-family: Nunito;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 33px;
  color: #393939;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

@media only screen and (max-width: 425px) {
  .btn-save-profile,
  .btn-edit-password,
  .btn-cansel-profile {
    width: 100%;
  }

  .wrapper-btn {
    padding: 0;
    margin-bottom: 20px;
  }

  .wrapper-input {
    width: 90%;
    margin: 20px auto;
  }
}

@media only screen and (max-width: 768px) {
  .btn-save-profile,
  .btn-edit-password,
  .btn-cansel-profile {
    width: 200px;
    font-size: 18px;
  }
}

@media only screen and (max-width: 1024px) {
  .btn-save-profile,
  .btn-edit-password,
  .btn-cansel-profile {
    width: 250px;
    font-size: 20px;
  }
}
