/* Start Header Login */
.icon {
  width: 133px;
  height: 44.01px;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.count {
  position: absolute;
  width: 25px;
  height: 25px;
  background: #ffcd61;
  border-radius: 50%;
  top: -5px;
  right: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 15px;
}

.img-icon {
  width: 35px;
  height: 30px;
}

.img-profile {
  /* position: absolute; */
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.profile {
  width: 133px;
  height: 44.01px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown-profile {
  width: 100px;
  height: 100px;
}

.dropdown-message {
  width: 100px;
  height: 100px;
}
/* End Header Login */

/* Start Splitter */
.title-splitter {
  height: 40px;
  margin-bottom: 40px;
  animation: gradient 2s infinite;
  background: linear-gradient(90deg, #8a8a8a, #1a1a1a, #8a8a8a);
  background-size: 400% 400%;
}

.body-splitter {
  height: 300px;
  margin-bottom: 50px;
  animation: gradient 2s infinite;
  background: linear-gradient(90deg, #8a8a8a, #4b4d4c, #8a8a8a);
  background-size: 400% 400%;
}

.wrapper-splitter {
  margin: 40px 0;
}

@keyframes gradient {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/* End Splitter */
