.input-search-type::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #b8becd;
}

.input-search-type:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #b8becd;
}

.input-search-type::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #b8becd;
}

.input-search-type {
  width: 90%;
  height: 72px;
  border: 0.8px solid #afb0b9;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 20px;
  border: none;
}

.input-search-type:focus {
  outline: none;
}

.btn-search-type {
  height: 72px;
  width: 70px;
  border: none;
  background-color: transparent;
}

.btn-search-type > i {
  font-size: 35px;
}

.link-view-all {
  text-decoration: none;
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 60px;

  color: #fb8f1d;
}

.link-view-all:hover {
  color: black;
}

.title-category-vehicles {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 50px;
  color: #000000;
}

.wrapper-card {
  /* border: 1px solid black; */
  justify-content: center;
  overflow: hidden;
}

.card {
  height: 176px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /* border: 1px solid black; */
}

.card:hover {
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.43);
  -webkit-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.43);
  -moz-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.43);
}

.card-type-vehicles {
  width: 250px;
}

.city-type-vehicles {
  height: 80px;
  width: 130px;
  border-radius: 10px;
  bottom: -40px;
  background-color: #f8f9fa;
  position: absolute;
  text-align: center;
  display: flex;
  left: 25%;
  justify-content: center;
  justify-items: center;
}

.img-container {
  height: 400px;
  /*border: 1px solid black;
  */
  display: flex;
  flex-direction: column;
}

/* .wrapper-img-home {
  height: 200px;
  width: 200px;
  background-color: red;
} */

.img-size {
  width: 100%;
  height: 100%;
  background-size: cover;
  object-fit: cover;
}

.subtitle-type-vehicles {
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #042521;
  margin: 0;
}

.color-subtitle-type-vehicle {
  color: #918f8f;
}

.add-item {
  border: none;
  background-color: transparent;
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 50px;
  text-align: center;
  color: #b8becd;
}

/* START ADD VEHICLES */
.wrapper-img-upload {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  height: 500px;
}

.camera-btn-input {
  width: 100%;
  margin-left: -18px;
  height: 100%;
  cursor: pointer;
}

.btn-save-item-add-vehicle,
.dropwdown-category-add-vehicle,
.btn-delete-item-edit-vehicle,
.btn-save-item-edit-vehicle {
  width: 300px;
  height: 60px;
}

.dropwdown-category-add-vehicle {
  background: #393939;
  border-radius: 10px;
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  color: #ffcd61;
}

.btn-save-item-add-vehicle {
  background: #ffcd61;
  box-shadow: 0px 0px 20px rgba(251, 143, 29, 0.4);
  border-radius: 10px;
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  color: #000000;
}

/* END ADD VEHICLES */

/* START EDIT VEHICLE */
.wrapper-link-detail {
  cursor: pointer !important;
  height: fit-content;
}

.img-upload {
  width: 500px;
  height: 400px;
  margin-top: 100px;
  margin-bottom: 50px;
}

.wrapper-img-child {
  width: 250px;
  height: 200px;
}

/* START DROPDOWN COSTUM */
.dropdown {
  width: 100%;
  margin: 20px auto;
  position: relative;
}

.dropdown-btn {
  padding: 15px 20px;
  background-color: #f5f5f6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-family: "Nunito";
  font-size: 18px;
  font-weight: 300;
}

.dropdown-content {
  position: absolute;
  padding: 10px;
  background-color: #f5f5f6;
  cursor: pointer;
  font-family: "Nunito";
  font-size: 18px;
  font-weight: 300;
  color: #333;
  width: 100%;
  z-index: 100000;
}

.dropdown-item {
  padding: 10px;
  cursor: pointer;
  transition: all 0.5s;
}

/* END DROPDOWN COSTUM */

.dropdown-category {
  width: 80%;
  margin: 20px auto;
  position: relative;
}

.dropdown-btn-category {
  /* padding: 15px 20px; */
  background-color: #ffcd61;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border-radius: 10px;
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  color: #000000;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 20px;
  padding-left: 30%;
}

.dropdown-content-category {
  position: absolute;
  padding: 10px;
  background-color: #f5f5f6;
  cursor: pointer;
  font-family: "Nunito";
  font-size: 18px;
  font-weight: 300;
  color: #333;
  width: 100%;
  z-index: 100000;
  bottom: 120%;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  background-color: #ffffff;
}

.dropdown-item-category {
  padding: 10px;
  cursor: pointer;
  transition: all 0.5s;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-add-category {
  display: flex;
  justify-content: left;
}

.item-header {
  font-weight: bold;
}

.icon-item {
  color: white;
}

.icon-item:hover {
  color: black;
}

.btn-save-item-edit-vehicle {
  background: #ffcd61;
  border: none;
  border-radius: 10px;
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  color: #000000;
}

.btn-save-item-edit-vehicle:hover,
.btn-delete-item-edit-vehicle:hover,
.dropdown-btn-category:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
}

.btn-delete-item-edit-vehicle {
  background: #393939;
  border: none;
  border-radius: 10px;
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  color: #ffcd61;
}

.dropdown-item-category:hover {
  background-color: #ffcd61;
}
/* END EDIT VEHICLE */

/* START SEARCH VEHICLE */
.cobaSearch {
  color: red;
}

/* END SEARCH VEHICLE */

/* RESPONSIVE */
@media only screen and (max-width: 425px) {
  .input-search-type {
    height: 10px;
    height: 100px;
    /* border: 1px solid black; */
    font-size: 13px;
    padding: 30;
  }

  .fa-search {
    font-size: 20px !important;
  }

  .btn-search-type {
    height: 20px !important;
    width: 20px !important;
  }

  .title-category-vehicles {
    font-size: 30px;
  }
  .link-view-all {
    font-size: 14px;
  }

  .container-input {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .input-search-type {
    height: 10px;
    padding: 30;
  }

  .btn-search-type {
    height: 40px;
    width: 40px;
  }

  .container-input {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .btn-search-type {
    height: 40px;
    width: 40px;
  }

  .card-type-vehicles {
    width: 300px;
  }
}

@media only screen and (max-width: 1024px) {
}
